*{
  margin: 0;
  padding: 0;
}
body{
  background: #D3E4F4;
}
h1{
  font-family: Verdana, sans-serif;
  text-align: center;
  color: #084276;
  margin-top: 20px;
}
h2{
  font-family: Verdana, sans-serif;
}
.song-card{
  padding: 20px;
  font-family: 'Courier New', monospace;
}
.output-box{
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
}
.output-content{
  border: 2px solid #084276;
  border-radius: 15px;
  padding: 10px;
  margin: 15px;
  position: relative;
}
.artist-paragraph{
  text-decoration: underline;
  margin: 5px 0 15px;
}

button{
  border-radius: 15px;
  min-height: 25px;
  width: 100px;
  margin: auto;
  background-color: #e8e8e8;
  padding: 5px;
  margin-top: 15px;
}
a button{
  color: #000;
  font-family: 'Courier New', monospace;
  text-decoration: none;
  vertical-align: bottom;
}
button:hover{
  cursor: url(/src/assets/metalhand.cur), pointer;
  background-color: #D0D0D7;
  color: #000;
}

/* SONG-INPUT */
.input-box{
  margin-left: 30px;
}

.form-box form{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 10px;
  max-width: 550px;
}

form input,
form textarea,
form button{
  margin-bottom: 10px;
  border-radius: 15px;
  min-height: 25px;
  padding-left: 5px;
  font-family: 'Courier New', monospace;
}

form textarea{
  padding-top: 5px;
  white-space: pre-wrap;
}

form input::placeholder,
form textarea::placeholder{
  color: #565656;
}

form input:focus-visible,
form textarea:focus-visible{
  outline: none;
  background: #084276;
  color: #fff;
}
form input:focus-visible::placeholder,
form textarea:focus-visible::placeholder{
  color: #fff;
  font-weight: bold;
}

form button{
  width:  100px;
  margin: auto;
}

/* DETAILPAGE */
.song-content,
.song-content h2{
  font-family: 'Courier New', monospace;
}

.song-content{
  padding: 20px;
}

.title-btn-box{
  display: flex;
}
.title-btn-box button{
  margin-top: auto;
}
.title-btn-box a{
  margin-left: auto;
}

/*CHORDS*/
.chord {
  font-weight: bold;
  color:  #525eff;
  background-color: #C1C1C1;
  padding: 1px 4px;
}

.filter-box{
  margin: 15px;
  width: 100%;
}

/*CHORD CHECKBOX*/
input[type=checkbox] {
  appearance: none;
  background-color: #fff;
  margin: 0;
  width: 27px;
  height: 27px;
  border: 2px solid #084276;
  border-radius: 2px;
  margin-right: 10px;
}

input[type=checkbox]:checked::before {
  content: "";
  background: url(/e-guitar-512x512.png);
  width: 18px;
  height: 18px;
  background-size: 18px 18px;
  display: block;
  margin-top: 3px;
  margin-left: 3px;
}

.chord-filter{
  display: flex;
}
.chord-filter .chord-check-box{
  flex-direction: column;
  display: flex;
}

.chord-filter .chord-check-box .chord-check:hover{
  cursor: url(/src/assets/metalhand.cur), pointer;
}

/*SEARCH INPUT*/

.search-input{
  font-family: 'Courier New', monospace;
  padding: 10px;
  margin-top: 15px;
  min-width: 400px;
}

.search-input:focus-visible{
  outline: none;
  background: #084276;
  color: #fff;
}
.search-input:focus-visible::placeholder{
  color: #fff;
  font-weight: bold;
}

.garbageIcon {
  position: absolute;
  right: 10px;

}

.garbageIcon:hover {
  cursor: url(/src/assets/metalhand.cur), pointer;
}
